.servicesBox {
    width: 48%;
}
.servicesBox img {
    width: 100%;
    aspect-ratio: 3 / 4 !important;
    object-fit: cover;
}
.servicesContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 92%;
    margin: auto;
}
.serviceTxt {
    font-size: 17px;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    margin: 0.5em 0 2.3em 0;
}
.serviceDetailsContainer {
    padding: 0 3%;
}
.serviceTitle {
    font-size: var(--fontSize36pxtitles);
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    padding: 40px 0;
    width: 100%;
    margin: 0;

}
.serviceBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.serviceInfoContainer {
    width: 57%;
}
.serviceDetailImage {
    width: 40%;
    object-fit: cover;
    height: 270px;
}
.timeDiv {
    display: flex;
    align-items: center;
    margin: 0;
}
.clockImg {
    width: 15px;
    margin-right: 5px;
}
.subtitleServiceDetail {
    font-size: var(--fontSize28pxsubtitles);
    font-weight: 500;
    line-height: 34.13px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1em;
}
h6 {
    margin: 0.15rem 0;
    font-size: var(--fontSizeItems14px);
    font-weight: 600;
    line-height: normal;
}
.h6BoxServicesDetail {
    margin-bottom: 1em;
}
.serviceDetailText {
    font-size: var(--fontSizeItems14px);
}
.señaTextDetailService {
    width: 100vw;
    font-size: var(--fontSizeItems14px);
}