.introContainer {
    height: 53vh;
    display: flex;
    justify-content: space-around;
}

.introImage {
    width: 45%;
    object-fit: cover;
    position: relative;
    top: 180px;
    height: 385px;
}
.introTextBox{
    width: 45%;
}
.introTitle {
    font-family: LT Afficher Neue;
    font-size: 45px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    margin: 30px 0 5px 0;
}

.introText {
    font-size: 12px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}