.introContainer {
    height: 390px;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}

.introImage {
    width: 47%;
    object-fit: cover;
    position: relative;
    top: 36%;
    height: 330px;
}
.introTextBox{
    width: 47%;
}
.introTitle {
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    margin: 30px 0 0px 0;
}

.introText {
    font-size: 12px;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
}
@media(min-width: 600px){
    .introText {
        font-size: 12px;
        line-height: unset;
        width: 90%;
    }
    .introImage {
        top: 25%;
        height: 430px;
        width: 47%;
    }
    .introContainer {
        height: 470px;
        padding: 0 6%;
    }
}
@media(min-width:1000px){
    .introTitle{
        margin: 50px 0 5px 0;
        font-size: 65px;
        line-height: normal;
    }
    .introText{
        font-size: 14px;
        width: 100%;
    }
    .introImage {
        top: 60px;
        height: 520px;
        width: 45%;
    }
    .introContainer{
        justify-content: space-between;
        height: 450px;
    }
    .introStrong {
        font-weight: 600;
    }
    .introTextBox{
        width: 49%;
    }
    .introContainer{
        padding: 0px 8%;
    }
}

@media(min-width:1200px){
    .introText{
        font-size: 16px;
    }
    .introTextBox{
        width: 38%;
    }
    .introImage {
        width: 30%;
        height: 540px;
    }
    .introContainer{
        height: 475px;
    }
}
