.introContainer {
    height: 450px;
    display: flex;
    justify-content: space-around;
}

.introImage {
    width: 45%;
    object-fit: cover;
    position: relative;
    top: 30%;
    height: 350px;
}
.introTextBox{
    width: 45%;
}
.introTitle {
    font-size: 45px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    margin: 30px 0 5px 0;
}

.introText {
    font-size: 12px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}
@media(min-width: 600px){
    .introText {
        font-size: 12px;
        line-height: unset;
    }
    .introImage {
        top: 34%;
        height: 350px;
    }
    .introContainer {
        height: 400px;
    }
}
@media(min-width:1000px){
    .introTitle{
        margin: 50px 0 5px 0;
        font-size: 65px;
        line-height: normal;
    }
    .introText{
        font-size: 14px;
    }
    .introImage {
        top: 60px;
        height: 500px;
        width: 40%;
    }
    .introContainer{
        justify-content: space-evenly;
        height: 450px;
    }
}

@media(min-width:1200px){
    .introText{
        font-size: 16px;
    }
    .introTextBox{
        width: 38%;
    }
    .introImage {
        width: 30%;
        height: 540px;
    }
    .introContainer{
        height: 475px;
    }
}
