.socialMediaBox {
    background-color: black;
    height: 250px;
}
.socialMediaBox p {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: white; 
    padding: 18% 0 0;
}
.socialMediaIcons {
    color:white;
}
@media(min-width: 600px){
    .socialMediaBox{
        height: 285px;

    }
    .socialMediaBox p {
        padding: 12% 0 0;
    }
}
@media(min-width: 600px){
    .socialMediaBox{
        height: 385px;
    }
    
}