.homeServicesContainer {
    display: flex;
    justify-content: space-between;
    height: 500px;
    padding: 0 4%;
}
.homeServicesText{
    font-size: 11.5px;
    font-weight: 400;
    text-align: left;
}
.homeServicesTitle{
    font-size: 28px;
    font-weight: 500;
    margin: 1em 0 10%;
    text-align: left;
}

.homeServicesImage {
    width: 47%;
    object-fit: cover;
    position: relative;
    bottom: 10%;
    height: 300px;
}
.homeServicesItems {
    font-size: 12.3px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    margin-top: 10%;
}

.button {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0em;
    text-align: center;
    background-color: black;
    padding: 8% 10%;
    color: white;
    width: 21vw;
    margin: auto;
    margin-top: 15%;
}

.heroFinalPhrase {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    width: 80vw;
    margin: 6vh auto;
}

@media(min-width: 600px){
    .button{
        padding: 5% 4%;
    }
    .homeServicesContainer{    
        height: 600px;      
        padding: 0 8%;
    }
    .homeServicesImage{
        bottom: 10%;
    }
    .homeServicesItems {
        margin-top: 6%;
    }
}
@media(min-width: 1000px){
    
    .homeServicesText{
        font-size: 13px;
    }
    .button {
        padding: 4% 1%;
        width: 17vw;
    }
    .heroFinalPhrase{
        font-size: 45px;
        width: 60vw;
        margin: auto;
    }
}
@media(min-width: 1200px){
    .homeServicesTitle{
        font-size: 33px;
    }
    .homeServicesText, .homeServicesItems{
        font-size: 15px;
    }
    .homeServicesImage{
        height: 540px;
        width: 35%;
    }
    .homeServicesContainer .introTextBox {
        width: 40%;
    }
    .button {
        width: 14vw;
        font-size: 19px;
    }
    .heroFinalPhrase {
        font-size: 53px;
        width: 50vw;
        margin: 10vh auto 14vh;
    }
}