.heroBox { 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    background-image: url(/hero.jpg);
    background-position: unset;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    justify-content: center;
}
.heroBox img {
    width: 66px;
    height: 66px;
}
.heroTitle {
    font-size: 68.33px;
    line-height: normal;
    letter-spacing: 0em;
    text-align: center;    
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
}
.heroSubtitle{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}