.headerContainer{
    height: 10vh;
    background-color: black;
    width: -webkit-fill-available;
    /* width: 80%; */
    display: flex;
    align-items: center;
    padding: 0 8%;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    position: fixed;
}

.logoHeader {
    height: 4vh;
}

.burgerMenuIcon {
    color: white;
    height: 18px;
}
.dropdownHeader {
    color: white;
    background: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    left: 0;
}
.dropdownItemsContainer {
    padding: 5%;
    display: flex;
    flex-direction: column;
}
.dropdownItemsContainer a {
    color: white;
    margin-bottom: 1rem;
    z-index: 100;
    text-decoration: none;
    border-bottom: 1px white solid;
    width: 15%;
    padding-bottom: 4%;
    white-space: nowrap;
    font-weight: 300;
}
a:focus {
    font-weight: 500;
} 
a:hover {
    font-weight: 500;
}
.activeNavbar {
    font-weight: 600 !important;
}
@media(min-width: 600px){
    .dropdownItemsContainer a {
        padding-bottom: 2%;
        width: 8.5%;
    }
}
@media(min-width: 1000px){
    .headerContainer{
        height: 8vh;
    }
    .burgerMenuIcon{
        display: none;
    }
    .dropdownHeader{
        position: unset;
        width: 70vw;
    }
    .dropdownItemsContainer{
        flex-direction: row;
        padding: 0;
    }
    .dropdownItemsContainer a {
        width: 17%;
        font-size: 15px;
        border-bottom: unset;
        margin-bottom: unset;
        border-left: 1px white solid;
        padding-bottom: unset;
        text-align: center;
    }
    .headerContainer {
        padding: 0 3%;
    }
    .homeItemNavbar {
        width: 15% !important   ;
        border-left: none !important;
    }
}

@media(min-width: 1200px){
    .dropdownHeader{
        width: 60vw;
    }
    .logoHeader{
        height: 4.5vh;
    }
}

@media(min-width: 1200px){
    .dropdownHeader{
        width: 58vw;
    }
    .logoHeader{
        height: 4.5vh;
    }.dropdownItemsContainer a {
        font-size: 15px;
    }
}
@media(min-width: 1600px){
    .dropdownHeader{
        width: 50vw;
    }
    .dropdownItemsContainer a {
        font-size: 17px;
    }
}