.footerContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10% 0 5%;
    width: 100%;
}
.valentinaFooter {
    margin: 0;
    color: white;
    font-size: 53px;
    text-align: center;
}
.footerBranding, .footerInstagram {
    margin: auto;
    text-align: center;
    color: white;
}
.footerInstagram{
    display: flex !important;
}
.justina {
    color:white;
    text-decoration: none;
}
.separator {
    border-bottom: 1px solid white;
    width: 50%;
    margin: 5% auto;
}
.logoFooter {
    width: 50px;
    margin: 2% auto;
}
.footerCopyright {
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
.footerCopyright strong {
    font-weight: 400;
}
@media(min-width: 600px){
    .footerContainer{
        padding: 10% 0 0;
    }
    .separator{
        display: none;
    }
    .footerBranding {
        display: flex;
        width: 65%;
        margin: 0;
    }
    .footerSubcontainer {
        margin: auto;
        width: 78vw;
        display: flex;
        justify-content: space-between;
    }
    .logoFooter {
        width: 100px;
    }
    .valentinaFooter{
        font-size: 40px;
        text-align: left;
    }
    .footerInstagram{ 
        margin: auto 0;
    }
    .footerCopyright{
        margin-top: 7vh;
    }
    .brFooter{
        display: none;
    }
}

@media(min-width: 1000px){
    .footerContainer{
        padding: 6% 0 1%;
    }
    .footerBranding{
        width: 45%;
    }
    .footerCopyright{
        font-size: 10px;
        font-weight: 200;
    }
    .footerCopyright strong {
        font-weight: 300;
    }
}
@media(min-width: 1200px){
    .footerBranding {
        width: 35%;
    }
    .footerInstagram{ 
        margin: auto 5%;
        font-size: 1.8em !important;
    }
}
@media (min-width: 1400px){
    .footerBranding {
        width: 30%;
    }
    .footerCopyright{
        font-size: 11px;
    }
}
@media (min-width: 1600px){
    .footerBranding {
        width: 27%;
    }
    .logoFooter { 
        width: 120px;
    }
    .valentinaFooter {
        font-size: 50px;
    }
}