.footerContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    width: 100%;
}
.valentinaFooter {
    
    margin: 0;
    color: white;
    font-size: 53px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;

}
.separator {
    border-bottom: 1px solid white;
    width: 50%;
    margin: 5% auto;
}
.logoFooter {
    width: 70px;
    margin: auto;
}
.footerCopyright {
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
.footerCopyright strong {
    font-weight: 400;
}