body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
@font-face {
    font-family: LTAfficher-boldCaption;
    src: url('/tipografias/LTAfficherNeue-BoldCaption.otf');
}
@font-face {
    font-family: LTAfficher-mediumCaption;
    src: url('/tipografias/LTAfficherNeue-MediumCaption.otf');
}