body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    min-height: 90vh;
    margin-top: 10vh;
}
@font-face {
    font-family: LTAfficher-boldCaption;
    src: url('/tipografias/LTAfficherNeue-BoldCaption.otf');
}
@font-face {
    font-family: LTAfficher-mediumCaption;
    src: url('/tipografias/LTAfficherNeue-MediumCaption.otf');
}
:root { 
    --LT-Afficher-Neue: LTAfficher-mediumCaption;
}