:root {
    --fontSizeText12px: clamp(9.9px, 2.6vw, 12px);
    --fontSizeItems13px: clamp(12px, 3.2vw, 13.2px);
    --fontSizeItems14px: clamp(11.9px, 2.98vw, 15px);
    --fontSizeItems14ymediopx: clamp(13.5px, 3.5vw, 15px);
}
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    min-height: 90vh;
    margin-top: 10vh;
    overflow-x: hidden;
}
.sectionContainer {
    margin-top: 10vh;
}

.separatorSections {
    border-top: 2px solid black;
    width: 30%;
    padding-bottom: 9%;
}
@media(min-width: 600px){
    
    .separatorSections {
        width: 20%;
        border-top: 3px solid black;
        padding-bottom: 8%;
    }
}
@media(min-width: 1000px){
    body, .sectionContainer {
        margin-top: 8vh;
    }
    .separatorSections {
        width: 15%;
    }
}
@media(min-width: 1400px){
    
    .separatorSections {
        padding-bottom: 6%;
    }
}
@media(min-width: 1400px){
    
    .separatorSections {
        width: 13%;
    }
}