.academyContainer {
    display: flex;
    justify-content: space-between;
    margin: 3%;
}
.academyImage {
    width: 46%;
    height: 300px;
    object-fit: cover;
    object-position: left;
}
.academyContainer h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    margin-bottom: 15%;
}
.academyText { 
    width: 50%;
}
.academyContainer p {
    font-size: var(--fontSizeItems14px);
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;

}
.sectionContainer h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: left;

}