.infoMakeups{
    display: flex;
    flex-direction: column;
}
.courseDetailImage {
    width: 100%;
}
.courseDetailTitle {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 300;
    padding: 40px 0;
    margin: 0;

}