.infoMakeups{
    display: flex;
    flex-direction: column;
}
.courseDetailInfoContainer {
    display: flex;
    font-size: var(--fontSizeItems14px);
}
.courseDetailImage {
    width: 40%;
    object-fit: cover;
    height: 270px;
}
.courseDetailTitle {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 300;
    padding: 40px 0;
    margin: 0;
}